:root {
    --free_rooms_result: #48cfad;
}

body {
    background-color: var(--free_rooms_result) !important;
}

.free_rooms {
    display: none;
}

.person_info {
    display: none;
}

.free_in_grid_system {
    display: grid;
    width: 100%;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr 1fr;
}


.modal-borko {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content-borko {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.my-text-transform {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.input_in_one_line {
  width: 49%;
  margin: 0 auto;
}

.load_center {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c0c0c0;
}

.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.content {
  width: 50%;
  margin: 0 auto;
}

.common_information {
  text-decoration: underline;
  font-style: italic;
}

.common_information:hover {
  cursor: pointer;
}
